<h1>Create a new article:</h1>

<form method="post" action="/articles">
    <p>Title: <input id="title" name="title"></p>
    <p>Content: <textarea id="content" name="content"></textarea></p>
    <input type="submit">
</form>