<h2><%= @articles.title %></h2>
<p><%= @articles.content %></p>
<form method="post" action="/articles/<%= @articles.id %>">
    <input id="hidden" type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete Article">
</form>